/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

 body {
  margin:20%;
  color:brown;
  background-size: auto;
}

h1 {
  text-align: center;
}

main {
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-right:5px;
}

.score,.progress{
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}