/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  text-align: center;
  margin:10%;
  color:lightblue;
  background-color: darkblue;
  padding-right: 10px;
}

.choices {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-right:5px;
}

.score,.progress{
  padding:10px 0;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

@media all and (min-width: 450px){
  body{
    margin-top: 40px;
  }
  section {
    margin-top: 40px;
  }
  .score,.progress {
    padding: 15px 0;
  }
  button {
    margin-top: 20px;
  }
}

@media all and (min-width: 800px){
body {
  text-align: left;
  margin-left:10%;
}
label{
  padding-left: 0;
}
}
